* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(44, 151, 92);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#formFilterContainer {
  width: 300px;
  background: rgba(255, 0, 0, 0.575);
  padding: 5px;
  border: 2px double white;
}

#todoForm {
  margin: 20px 0px 10px 0px;
}

#todoFormWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

.del-btn {
  display: flex;
  background-image: url("../assets/deletebtn.jpg");
  height: 19px;
  width: 19px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-left: auto; */
}

.del-btn:hover {
  border: 1px solid gray;
}

.input-text {
  width: 286px;
  display: block;
}

.list-category {
  width: 75px;
  margin-left: auto;
}

#dateSelect {
  width: 195px;
  margin-right: auto;
}

.filter-label {
  display: block;
}

.activity-input-label {
  display: block;
}

.activities-list {
  width: 550px;
}

.list-row {
  margin: 10px 0;
}

.list-row-expired {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.856);
}

.list-date {
  width: 75px;
}

.activity {
  width: 200px;
  display: flex;
}

.list-expired {
  font-size: 10px;
}

/* make list-row-content hover */

.list-row-content {
  display: flex;
}

.list-row-content:hover {
  background: rgba(243, 179, 179, 0.562);
}

#filterBtnsWrapper {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#activitiesContainer {
  width: 560px;
  background: rgba(255, 0, 0, 0.575);
  border: 2px double white;
}