* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(178, 197, 187);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 565px;
}

.body-content {
  background: rgba(60, 59, 99, 0.664);
  border: 2px double white;
  border-radius: 5px;
}

#formFilterContainer {
  width: 300px;
  padding: 5px;
  display: inline-block;
}

#todoForm {
  margin: 20px 0px 10px 0px;
}

#todoFormWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

.del-btn {
  display: flex;
  background-image: url("../assets/deletebtn.jpg");
  height: 19px;
  width: 19px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.del-btn:hover {
  border: 1px solid gray;
}

.input-text {
  width: 286px;
  display: block;
}

.list-category {
  width: 75px;
  margin-left: auto;
  margin-right: 10px;
}

#dateSelect {
  width: 195px;
  margin-right: 2px;
}

.filter-label {
  display: block;
}

.activity-input-label {
  display: block;
}

.activities-list {
  width: 550px;
  background: #7d9bc561;
  padding-inline-start: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  border: 1px solid #00000047;
  border-radius: 10px;
}

.list-row {
  margin: 10px 0;
  background: #12223366;
}

.list-row-expired {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.856);
}

.list-date {
  width: 75px;
}

.activity {
  width: 200px;
  display: flex;
}

.list-expired {
  font-size: 10px;
}

.list-row-content {
  display: flex;
}

.list-row-content:hover {
  background: rgba(243, 179, 179, 0.562);
}

#filterBtnsWrapper {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#activitiesContainer {
  padding: 5px;
  border-top: 2px solid white;
}

.santaImg {
  width: 170px;
  margin-left: 35px;
}