* {
  box-sizing: border-box;
}

#formFilterContainer {
  width: 280px;
  background: red;
  padding: 5px;
}

#todoForm {
  margin: 20px 0px 10px 0px;
}

#todoFormWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

.del-btn {
  display: flex;
  background-image: url("../assets/delete.png");
  height: 20px;
  width: 20px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

.input-text {
  width: 270px;
  display: block;
}

#dateSelect {
  width: 120px;
}

.filter-label {
  display: block;
}

.activity-input-label {
  display: block;
}

.activities-list {
  width: 500px;
}

.list-row {
  margin: 10px 0;
}

.activity {
  display: flex;
}

.list-row-content {
  display: flex;
}